
.account_border
  border: 4px solid $primaryMain
  width: 200px


.account_userImage
  margin: 15px auto
  text-align: center


.account_table
  text-align: center
  margin: auto
  overflow-y: scroll
  overflow-x: hidden
  width: 500px
  height: 450px


.account_head
  padding: 0 1em
  text-align: center
  font-family: $Georgia
  margin: auto



.account_block
  margin-top: 20px
  width: 250px
  justify-content: center
  text-align: center




.account_item
 text-align: center



.account_button
  margin: 17px auto

.account_rules
  width: 500px
  margin: auto
  justify-content: center

.account_rulesButton
  margin: 17px auto
  width: 100%

.account_video
  margin: auto
  text-align: center
  align-items: center
