

.account_border


.account_head
  padding: 0 1em
  text-align: center
  font-family: $Georgia



.account_block
  width: 250px
  justify-content: center
  text-align: center




.account_item
 text-align: center

.account_form
 margin: auto
 width: 300px

.account_button
  margin: 17px auto
